<!-- BLOC PRÉSENTATION -->
<div class="breadcrumb-section breadcrumb-bg" style="z-index: revert; background: linear-gradient(293.2deg, #77b0fb 15.63%, #0D50A8 91.91%);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <h1 style="color: #FFD700; font-size: 2.5rem; margin-top: 10px; text-shadow: 0 4px 8px rgba(0,0,0,0.2); font-family: 'Tajawal', sans-serif;"> مجلتنا </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- BLOC LECTURE PDF EN GRAND -->
  <div class="reader-wrapper">
    <div class="page-viewer">
      <img [src]="pages[currentPage]" alt="Page PDF" class="page-large" />
    </div>
  
    <div class="controls">
      <button (click)="prevPage()" [disabled]="currentPage === 0">السابق</button>
      <span class="page-indicator">{{ currentPage + 1 }} / {{ pages.length }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === pages.length - 1">التالي</button>
    </div>
  </div>
  